<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="/css/bundle.min.css")
body
	article
		h1 Lorem ipsum dolor
		small by Lorem ipsum
		h2 Lorem ipsum dolor sit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis similique odit, modi voluptatum itaque. Unde repellat enim accusantium architecto obcaecati, nisi perspiciatis, earum esse officiis, dolorum excepturi velit. Dicta, sapiente.
		h2 Lorem ipsum dolor sit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ut, adipisci voluptas, ipsum harum pariatur asperiores illo doloribus explicabo dolorem quas aliquam iure veritatis, in perspiciatis fuga. Unde, nostrum, vel.
		p Culpa voluptate dicta explicabo excepturi optio ut sint reiciendis minus numquam vero? Sapiente doloremque, ipsum itaque qui quidem obcaecati? Voluptates nemo harum et ullam veniam nihil, ipsam provident eligendi, delectus.
		h2 Lorem ipsum dolor sit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis similique odit, modi voluptatum itaque. Unde repellat enim accusantium architecto obcaecati, nisi perspiciatis, earum esse officiis, dolorum excepturi velit. Dicta, sapiente.
		h2 Lorem ipsum dolor sit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ut, adipisci voluptas, ipsum harum pariatur asperiores illo doloribus explicabo dolorem quas aliquam iure veritatis, in perspiciatis fuga. Unde, nostrum, vel.
		p Culpa voluptate dicta explicabo excepturi optio ut sint reiciendis minus numquam vero? Sapiente doloremque, ipsum itaque qui quidem obcaecati? Voluptates nemo harum et ullam veniam nihil, ipsam provident eligendi, delectus.
